body {
	//background-image: url("../mainGUI/ressources/background.jpg");
	background-image:linear-gradient( rgb(7, 63, 139), rgb(250, 250, 250));
	background-repeat: no-repeat;
	min-width: 100%;
	min-height: 100%;
	//background-color: rgba(7, 63, 139, 0.100);
  }