

.sidebar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 15%;
	position: fixed;
	color: white;
	background-color: rgba(7, 62, 139, 0.900);
	box-shadow: 0px 2px 4px 0px rgba(7, 62, 139, 0.500);
	text-decoration: none;
	height: 100%;
	overflow: auto;
}
  
  li {
	float: left;
  }
  
  li a, .dropdownButton {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropdownButton:hover {
	background-color: rgba(255, 255, 255, 0.850);
	color: rgba(7, 62, 139, 0.900);
	display: block;
	text-decoration: none;
  }
  

  li.dropdown {
	display: inline-block;
  }
 

  .dropdownContent {
	display: none;
	position: absolute;
	background-color: white;
	min-width: 160px;
	box-shadow: 0px 10px 20px 0px rgba(7, 62, 139, 0.500);
	z-index: 1;
  }
  
  .dropdownContent a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
  }
  
  .dropdownContent a:hover {
	  background-color:rgba(7, 62, 139, 0.150);
	  color:rgba(7, 62, 139, 0.900);
	}
  
  .dropdown:hover .dropdownContent {
	display: block;
  }

  .site {
	position: absolute;
	right: 0px;
	width: 85%;
	padding: 10px;
  }