.textInput {
	display: block;
	width: 90%;
	margin: 1rem auto 0 auto;
}

.buttons {
	text-align: center;
	margin-top: 6pt;
}

.IssuePositionInformation {
	text-align: center;
	margin: 30px;
}
