.headline {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: white;
	background-color: rgba(7, 62, 139, 0.900);
	box-shadow: 0px 2px 4px 0px rgba(7, 62, 139, 0.500);
	text-decoration: none;
	width: 100%;
	text-align: center;
}

li {
	float: left;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: rgba(255, 255, 255, 0.850);
	color: rgba(7, 62, 139, 0.900);
	display: block;
	text-decoration: none;
}
